<<<<<<< HEAD
Welcome to Lend-A-Friend!
<%= link_to "Login", new_user_session_path %> or <%= link_to "Signup", new_user_registration_path %>
=======
<p class="lead">
  <a href="#" class="btn btn-lg btn-secondary">Login</a>
  <a href= "<%= new_user_path %>" class="btn btn-lg btn-secondary">Create Account</a>
</p>
>>>>>>> dev
