<p class="lead">
  <a href="<%= new_user_session_path %>" class="btn btn-lg btn-secondary">Login</a>
  <a href= "<%= new_user_registration_path %>" class="btn btn-lg btn-secondary">Create Account</a>
</p>
