<% if flash[:errors] %>
  <%= pluralize(flash[:errors].count, "error") %> prevented this item from being created:
  <ul>
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<h1>New <%= @type %> Item</h1>
<%= render "form" %>
